<h1>All Requests</h1>

<table border='1px' width='60%'>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Department</th>
    <th>Message</th>
    <th>Actions</th>

  </tr>

  <% @requests.each do |request|  %>
  <tr>
    <td><%= request.name %></td>
    <td><%= request.email %></td>
    <td><%= request.department %></td>
    <td><%= request.message %></td>
    <td><%= link_to 'Edit', edit_request_path(request) %></td>
  </tr>
  <% end %>
</table>
